@model NewStoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Delete- " + Model.ProductName;
}

<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Delete <span>@Model.ProductName?</span>
            </h2>
        </div>

        <h3>Are you sure you want to delete @Model.ProductName?</h3>
        <p class="bg-warning text-danger d-inline-block p-3 my-3">This action <em>cannot</em> be undone.</p>
        <div>
            @*<h4>Product</h4>*@
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UnitsInStock)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UnitsOnOrder)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UnitsOnOrder)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductImage)
                </dt>
                <dd class="col-sm-10">
                    @*@Html.DisplayFor(model => model.ProductImage)*@
                    <img src="~/images/@Model.ProductImage" class="img-fluid rounded-sm shadow-lg" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Supplier)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Supplier.SupplierName)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ProductId" />
                <input type="submit" value="Delete Forever" class="btn btn-danger d-inline-flex" />
                <a asp-action="TiledProducts" class="btn btn-secondary d-inline-flex btn-lg">Back to List</a>
            </form>
        </div>

    </div>
</section>